[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
temporalio = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"
autopep8 = "*"

[scripts]
test = "pytest -v"
test-unit = "pytest tests/unit/ -v"
test-integration = "pytest tests/integration/ -v"
test-cov = "pytest -v --cov=."
lint = "flake8 ."
format = "black ."
fix = "autopep8 --in-place --recursive ."

[requires]
python_version = "3.11"
